:root {
  /* Primary Colors */
  --color-primary-200: #5db082;
  --color-primary-400: #295e48;

  /* Neutral Colors */
  --color-neutral-100: #f6f7fb;
  --color-neutral-200: #dee9fc;
  --color-neutral-400: #c9d0da;
  --color-neutral-700: #364153;
  --color-neutral-900: #161739;

  /* Purple Colors */
  --color-purple-400: #6d4ae5;

  /* Yellow Colors */

  --color-yellow-400: #f5c044;

  /* Blue Colors */
  --color-blue-200: #6281f7;
  --color-blue-400: #3c4c98;
  --color-blue-600: #263fa9;

  /* Font Family */
  --ff-base: 'Sora', sans-serif;

  /* Font Size */
  --fs-64: 4rem;
  --fs-48: 3rem;
  --fs-40: 2.5rem;
  --fs-36: 2.25rem;
  --fs-32: 2rem;
  --fs-24: 1.5rem;
  --fs-20: 1.25rem;
  --fs-18: 1.125rem;
  --fs-16: 1rem;
  --fs-14: 0.875rem;
  --fs-12: 0.75rem;
  /* Font Weights */
  --fw-900: 900;
  --fw-800: 800;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;
  --fw-400: 400;
  --fw-300: 300;

  /* Spacing */
  --spacing-2: 0.125rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-28: 1.75rem;
  --spacing-32: 2rem;
  --spacing-36: 2.25rem;
  --spacing-40: 2.5rem;
  --spacing-48: 3rem;
  --spacing-56: 3.5rem;
  --spacing-64: 4rem;
  --spacing-72: 4.5rem;
  --spacing-80: 5rem;
  --spacing-96: 6rem;
  --spacing-144: 9rem;
}

/********* Reset **********/
/* Stop any animation if the user has set their device to "prefers reduced motion". */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    animation-duration: 0.1s !important;
    transition-duration: 0.1s !important;

    scroll-behavior: smooth;
  }
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-700);
  font-family: var(--ff-base);
  font-size: var(--fs-16);
  font-weight: var(--fw-400);
  line-height: 1.5;
}

.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/********* Skip Nav Link **********/
.skip__nav__link {
  position: absolute;
  left: 0.25rem;
  transform: translateY(-150%);
  transition: transform 325ms ease-in;

  background-color: black;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 0 0 4px 4px;
}

.skip__nav__link:focus {
  transform: translateY(0);
}

/********* Wrapper Layout **********/
.wrapper {
  margin-inline: var(--spacing-24);
  max-width: 1200px;
}

/********* Typography **********/
h1,
h2,
h3 {
  font-weight: var(--fw-600);
  line-height: 1.3;
}

h1.page__title {
  font-size: var(--fs-40);
  margin-block: var(--spacing-32);
}

h2 {
  font-size: var(--fs-32);
  margin-block-end: var(--spacing-16);
}

h3 {
  font-size: var(--fs-20);
}

p.page__subtitle {
  font-size: var(--fs-20);
  margin-block-end: var(--spacing-40);
}

p.process__subtitle {
  margin-block-end: var(--spacing-72);
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

/********* Button Styles **********/
.button__wrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

.btn {
  display: inline-block;
  padding: var(--spacing-12) var(--spacing-24);
  border: none;
  border-radius: 24px;
  background-color: var(--color-primary-400);
  color: var(--color-neutral-100);
  text-decoration: none;
  font-size: var(--fs-16);
  font-weight: var(--fw-600);
  transition: background-color 0.3s ease-in-out;
}

.btn--primary:hover {
  background-color: var(--color-primary-200);
}

.btn--link {
  background-color: transparent;
  color: var(--color-neutral-900);
  text-decoration: none;
}

.btn--hero {
  padding: 16px 30px;
  padding: var(--spacing-16) var(--spacing-32);
  text-transform: uppercase;
}

/********* Header Styles **********/
.header {
  margin-block: var(--spacing-24);
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/********* Hero Styles **********/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.hero__wrapper {
  max-width: 550px;
}

.ribbon__text p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-20);
  background-color: var(--color-neutral-200);
  border-radius: 16px;
  color: var(--color-blue-600);
  font-size: var(--fs-12);
  font-weight: var(--fw-600);

  padding: var(--spacing-4);
  padding-inline-end: var(--spacing-20);
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__wrapper {
  margin-block-end: var(--spacing-80);
}

.hero__image {
  display: none;
}
/********* Process Styles **********/
.process {
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-400);
  padding-block: var(--spacing-40);
  text-align: center;
}

.process__title,
h3 {
  color: var(--color-neutral-100);
}

/****** Card Styles ******/
.cards {
  padding-block: var(--spacing-72);
  margin-block-end: var(--spacing-72);
}

.process__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: var(--spacing-32);
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-32);
  text-align: center;
}

.card:nth-of-type(1) {
  --accent-bg: var(--color-blue-200);
}

.card:nth-of-type(2) {
  --accent-bg: var(--color-yellow-400);
}

.card:nth-of-type(3) {
  --accent-bg: var(--color-primary-200);
}

.card:nth-of-type(4) {
  --accent-bg: var(--color-purple-400);
}

/********* Card Styles **********/

.emoji__card {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: var(--accent-bg);
  font-size: var(--fs-48);
}

.card__title {
  font-size: var(--fs-20);
  font-weight: var(--fw-700);
  margin-block-start: var(--spacing-24);
}

.card__title span {
  color: var(--accent-text);
}

/********* Features Styles **********/
.features .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-72);
  padding-block: var(--spacing-40);
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-32);
}

.feature__list li {
  display: flex;
  align-items: center;
  gap: var(--spacing-16);
  font-size: var(--fs-14);
}

.feature:nth-of-type(1) {
  --accent-bg: var(--color-blue-200);
}

.feature:nth-of-type(2) {
  --accent-bg: var(--color-yellow-400);
}

.feature:nth-of-type(3) {
  --accent-bg: var(--color-purple-400);
}

.emoji__icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--accent-bg);
  font-size: var(--fs-24);
}

h2.feature__title {
  font-size: var(--fs-36);
  font-weight: var(--fw-600);
  margin-block: var(--spacing-16);
}

.feature__subtitle {
  margin-block-end: var(--spacing-24);
}

.feature__list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
}

/********* Footer Styles **********/
.footer {
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-100);
  padding-block: var(--spacing-40);
}

h2.footer__title {
  font-size: var(--fs-36);
  font-weight: var(--fw-600);
  margin-block-end: var(--spacing-32);

  max-width: 15ch;
}

h2.footer__title span {
  color: var(--color-primary-200);
}

.footer__links {
  margin-block-end: var(--spacing-40);
}

.footer__links li:not(:last-of-type) {
  margin-block-end: var(--spacing-24);
}

.footer__links a {
  color: var(--color-neutral-100);
  text-decoration: none;
  font-size: var(--fs-18);
}

/********* Media Queries **********/
@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;

    max-height: 47rem;
    border-bottom: 5px solid black;
  }

  .hero > * {
    flex: 1;
  }

  .hero__image {
    display: block;
    max-width: 650px;
  }

  .feature {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
  }

  .feature:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .feature > * {
    flex: 1;
  }

  .footer__content {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-72);
  }
}

@media (min-width: 1024px) {
  .wrapper {
    margin-inline: 4.5rem;
  }

  .hero {
    align-items: flex-start;
    overflow: hidden;
  }

  .hero .wrapper {
    margin-block-start: 6rem;
    margin-inline-end: 0;
  }

  h1.page__title {
    font-size: var(--fs-64);
  }

  .hero__wrapper {
    margin-block-end: var(--spacing-144);
  }

  .process {
    background-image: url(../resources/section_bg_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-block: var(--spacing-96);
  }

  .features .wrapper {
    padding-block: var(--spacing-96);
  }

  .footer {
    padding-block: var(--spacing-96);
  }
}

@media (min-width: 1200px) {
  .process {
    background-image: url(../resources/section_bg_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 60%;
  }

  .process__cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer__title {
    max-width: 18ch;
  }
}
